.footer__column-link {
  text-decoration: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: inherit;
  display: flex;
  align-items: center;
  transition: opacity ease.1s;
}
.footer__column-link:hover {
  opacity: 0.5;
}
